body {
    background-color: antiquewhite;
    margin: 0em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
}

h1, h3 {
    font-family: "goudy-bookletter-1911", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0.2em 0;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-top: 0.5em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: "goudy-bookletter-1911", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;        
}

.group {
  opacity: 0;
  cursor: pointer;
}

.group.fade-in {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.group.fade-out {
  transition: opacity 0.3s ease; 
  opacity: 0;
}

.svg1 {
    position: absolute;     
    top: 40%;          
    left: 10%;                 
}

.svg2 {
    position: absolute;     
    bottom: 20%;                
    left: 30%;              
}

.svg3 {
    position: absolute;     
    top: 20%;                
    left: 55%;
}

.svg6 {
    position: absolute;
    top: 40%;
    left: 20%;
}

.svg7 {
    position: absolute;
    top: 70%;
    left: 40%;
}

.svg8 {
    position: absolute;
    top: 30%;
    left: 60%;
}

.svg9 {
    position: absolute;
    top: 35%;
    left: 20%;
}

.svg10 {
    position: absolute;
    top: 50%;
    left: 55%;
}

.svg11 {
    position: absolute;
    top: 35%;
    left: 20%;
}

.svg12 {
    position: absolute;
    top: 50%;
    left: 55%;
}

.svg13 {
    position: absolute;
    top: 60%;
    left: 27%;
}


.svg14 {
    position: absolute;
    top: 30%;
    left: 58%;
}

.svg15 {
    position: absolute;
    top: 40%;
    left: 20%;
}

.svg16 {
    position: absolute;
    top: 40%;
    left: 60%;
}

#finalgroup {
  position: absolute;
  top:35%;
  text-align: center;
}

.text14 {
  font-size: 5em;
  margin-bottom: 1em;
}

.endlink {
  font-size: 1.2em;
  font-family: "goudy-bookletter-1911", serif;
  color: black;
}